@charset "UTF-8";

/*共通部分*/
html{
    font-size:100%;
}
body{
    font-family:"Montserrat","ヒラギノ角ゴシック";
    line-height:1.7;
    color:black;
}
a{
    text-decoration:none;
}
img{
    max-width:100%;
}
/*ヘッダー*/
.logo{
    width:70px;
    transform: translateY(-5px);
   

}
.main-nav{
    display:flex;
    font-size:1.25rem;
    text-transform:uppercase ;
    margin-top:14px;
    list-style:none;
    text-transform: none;
}
.main-nav li{
    margin-left:36px;
    margin-top:25px;
    margin-right:20px;
}
.main-nav a{
    color:#704E4E;
}
.main-nav a:hover{
    color:#B3ADA0;
}
.page-header{
    display:flex;
    justify-content:space-between;
    margin:0 auto;
    padding: 0 4%;
    background-color:#59b9C6;
    height:100px;  
    width:cover;
}
header{
    position: fixed;
    top: 0;
    left:0;
    width:100%;
    padding:20px 40px;
    box-sizing:border-box;
    z-index: 999;
}

/*HOME*/
.home-contents{
    text-align: right;
    margin-top:10%;
}
/*見出し*/
.page-title{
    font-size:4rem;
    font-family:"Montserrat";
    font-weight: bolder;
    color:#fff;
    float: right;
    padding-top:1.5em;
    text-shadow: #fff 2px 0, #fff -2px 0, #fff 0 -2px, #fff 0 2px, #fff 2px 2px, #fff -2px 2px, #fff 2px -2px, #fff -2px -2px, #fff 1px 2px, #fff -1px 2px, #fff 1px -2px, #fff -1px -2px, #fff 2px 1px, #fff -2px 1px, #fff 2px -1px, #fff -2px -1px, rgba(0, 0, 0, .5) 3px 3px 3px;
}


/*大きな背景画像*/
.big-bg{
    background-size:cover;
    background-position: center top;
    width:100%;
    margin-top:0;
}
#home{
    background-image: url(images/sitetop.png);
    min-height: 100vh;

}
#home .page-title{
    text-transform: none;
}
/*About me*/
.about-wrapper{
   height:55em;
   background-size:cover ;
   text-align: center;
}
.about-title span{
    color: #59b9C6;
    text-decoration:underline;
    font-size:110px;
    opacity:0.6;
    display:inline-block;
}
.about-title{
    font-size:70px;
}
.about-container{
    margin:0 100px 50px 100px;
    padding:0;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .item{
        width: 45em;
        
   }
   .introduction{
       width:600px;
       text-align: center;
   }
   .name{
       font-size:2rem;
       margin-top:0;
   }
   .introduction p{
       font-size:1.5rem;
}
/*Skills*/
.skills-wrapper{
    text-align: center;
    height:650px;
}
.skills-title{
    text-align: center;
    font-size: 70px;
}
.skills-title span{
    color: #59b9C6;
    text-decoration:underline;
    font-size:110px;
    opacity:0.6;
}
.skills-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pc-icon{
    width:250px;
}
.skills1{
    font-size:35px;
    font-weight: bold;
}
.skills2{
    font-size:25px;
}
.skills3{
    font-size:35px;
    font-weight: bold;
}
.skills4{
    font-size:25px;
}

/*Works*/
.works-wrapper{
    text-align: center;
    height:650px;

}
.works-title{
    text-align: center;
    font-size: 70px;
}
.works-title span{
    color: #59b9C6;
    text-decoration:underline;
    font-size:110px;
    opacity:0.6;
}
.works-container{
    display: flex;
    justify-content:center;
}

.box{
    width:40%;
    margin:0 auto;
} 
.website{
    padding:20px;
    background-color:#f4ecdb ;
}
.website:hover{
    background-color: #704E4E;
    opacity:0.7;
}
.site-title{
    font-size:20px;
    margin-top:5px;
    margin-bottom:50px;
}
.site-title2{
    font-size:20px;
    margin-top:5px;
    margin-bottom:50px;
}
/*Contact*/
.contact{
    text-align:center;
    height:40em;
}
.contact-title{
    text-align: center;
    font-size: 70px;
    margin-bottom:0px;
}
.contact-title span{
    color: #59b9C6;
    text-decoration:underline;
    font-size:110px;
    opacity:0.6;
}
.contact-container{
    transform: translatey(-5em);

}
form div{
    margin-bottom:14px;
}
label{
    font-size:1.125rem;
    margin-bottom:10px;
    display:block;
}
input[type="text"],input[type="email"],textarea{
    background-color:#f4ecdb ;
    border:none;
    border-radius: 0;
    padding:10px;
    font-size:30px;
    margin:10px auto;
    
}
input[type="text"],input[type="email"]{
    width:100%;
    max-width:736px;
   font-size:1.2rem;

}
textarea{
    width:100%;
    max-width:736px;
    height:300px;
 
}
input[type="submit"]{
    border:none;
    cursor:pointer;
    line-height:1;
    width:200px;
    transform:translateX(8em);
}
input:focus{
    outline:#704E4E 2px solid;
    background-color: #B3ADA0;
  }
textarea:focus{
    outline:#704E4E 2px solid;
}

form {
  width: 50%;
  margin: 10% auto;
  min-width: 9rem;
}
  
input, textarea {
  float: left;
  width: 100%;
  max-width: 100%;
  border: none;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  border-radius: 0rem;
  background: #f4ecdb 
}
  
  &[type=submit] {
    color: #fff;
    width: auto;
    float: right;
  }

  &::placeholder {
    color: darken(#f9f9f9, 50%);
  }

textarea {
  height: 10rem;
}
.captcha {
  float:left;
}
  input[name=question] {
    width: 4rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    text-align: right;
    padding-right: 0;
  }
  [name=captcha] {
    width: 5rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding-left: 0.5rem;
    &::placeholder {
      text-align: center;
    }
  }
  input::placeholder{
    font-family:Montserrat;
     font-size:15px;
   }
   textarea::placeholder{
    font-family:Montserrat;
     font-size:15px;
   }   


/*footer*/
footer{
    background: #59b9c6;
    text-align:center;
    padding:10px 0;
    width:100%;
    
}
footer p{
    color:#704E4E;
    font-size:0.875rem;
}

/*モバイル版*/
@media(max-width:600px){
    /*Header*/
    .main-nav{
        font-size:0.75rem;
        margin-top:10px;
    }
    .main-nav li{
        margin-top:0 20px;
        transform:translate(-26px,-55px);
        
    }
    .page-header{
        flex-direction:column;
        align-items: center;
        height:67px;
    }
    .logo{
       display:none;
    }
    
    /*見出し*/
    .page-title{
        font-size:2rem;
        text-shadow: none;
        -webkit-text-stroke: 0.8px #704E4E;
    }
    
    /*大きい背景*/
    .big-bg{
        background-size:contain;
        background-repeat:no-repeat;
    }
    #home{
         background-image: url(images/sitetop2.png);
         min-height:30vh;
        }
    
    /*About me*/
    .about-wrapper{
        text-align:center;
        height:600px;
    }
    .about-container{
        display: block;
    }
    .item{
         width: 200px;
    }
    .introduction p{
        font-size:18px;
        text-align:center;
    }
    .about-title span{
        font-size:40px;
        transform:translateX(0px);
    }
    .about-title{
        font-size:30px;
    }
        
    /*Skills*/
    .skills-wrapper{
        margin:0 auto;
        height:650px;
    }
    .skills-container{
        display: block;
    }
    .skills-title{
        text-align: center;
        font-size: 30px;
    }
    .skills-title span{
        font-size:40px;
    }
    .pc-icon{
        transform:translateX(90px);
        width:200px;
    }
    .skills h2{
        font-size:25px;
    }
    .skills p{
        font-size:20px;
    }
    /*Works*/
.works-wrapper{
    height:300px;
}
.works-container{
    display: block;
}
.works-title{
    font-size: 30px;
}
.works-title span{
    font-size: 40px;
}
.box{
display:block;
}
.site-title{
    font-size:13px;
    margin-top:0px;
    margin-left:20px;
    transform:translate(0);
}
.site-title2{
    font-size:13px;
    margin-top:0px;
    margin-left:40px;
    transform:translate(0);
}
/*Contact*/
.contact-title{
    font-size: 30px;
}
.contact-title span{
    font-size:40px;
}
}
